<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=data.title%></title>
    <link href="../public/login.css" rel="stylesheet" >
</head>
<body>
   <form method="POST">
        <div>
            <label for="userEmail">Email</label></br>
            <label><input type="text" name="email" placeholder="Enter your email" value=<%=data.email%> ></label>
        </div>
        <div>
            <label for="userName">Password</label></br>
            <label><input type="password" name="password"  placeholder="Enter your Password"></label>
       </div>
       <input type="submit" value="Login">
   </form>
</body>
</html>