body{
    background-color: rgb(67, 15, 209);
}
h3{
    text-align: center;
    color: rgb(160, 193, 223);
    font-style: italic;
    color: white;
}
#search{
    width: 20%;
    margin:auto;
    padding-bottom: 10px;
  
}
#image1{
    padding:5px;
    width:235px;
    height: 300px;
}
#image2{
    padding:5px;
    width:235px;
    height: 300px;
}
#image3{
    padding:5px;
    width:235px;
    height: 300px;
}
#image4{
    padding: 5px;
    width:235px;
    height: 300px;
}
#image5{
    padding:5px;
    width:235px;
    height: 300px;
    height: 300px;
}
#image6{
    padding:5px;
    width:235px;
    height: 300px;
}
#image7{
    padding:5px;
    width:235px;
    height:300px;
}
#image8{
    padding:5px;
    width:235px;
    height: 300px;
}
#image9{
    padding: 5px;
    width:235px;
    height: 300px;
}
#image10{
    padding:5px;
    width:235px;
    height: 300px;
}
input{
    width:50%;
    background-color:rgb(43, 25, 27);
    margin-left:50px;
    color: rgb(23, 235, 16);
    border-radius: 50px;
    height: 30px;
}
input:hover{
    background-color: rgb(253, 54, 5);
    width:50%;
    cursor: pointer;

}

p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.search{
    background-color: white;
}
.search:hover{
    background-color: white;
    color: black;
}