<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <center><h1 style = "background-color:rgb(168, 233, 168);">My personal portfolio website</h1></center>
    <span>
        <center>
            <a href="#home">home</a><br> 
            <a href="#about" >about</a><br>
            <a href="#experience">experience</a><br>
            <a href="#contact" >contact</a>
        </center>
   

        <a name ="home"></a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div id="about">
            <a name="about"></a>
            <center><h3>ABOUT</h3></center>
            <p> HI I'm RAKESH
                Full Stack Solution Architect
                The crossover between design and programming has always been of interest to me, I've been lucky 
                enough to work alongside some talented teams on a number of high profile websites. I have a wide 
                range of skills that include back-end development using open source technologies (NodeJs, PHP), 
                design (working closely with designers), front-end development (AngularJs, Angular2, ReactJs, 
                HTML5, CSS3, Javascript, Responsive, UX), Server Administrator(AWS, IBM, Azure),database(MongoDB,
                cassendra,Mysql), load balancing (Varnish and Memcached)
                
            </p>
            <center><img src="img/2.jpg" width="400px"></center>
            <br>
            <br>
            <br>
            <br>
        </di>
        <div id="experience">
                <a name="experience"></a>
                <center><h3>Experience</h3>
            
                <p>1.completed internship in abc company</p>
                <p>2.worked as a level1 SDE at def company</p>
                <p>3.worked as a level2 SDE in z comapny</p>
                <p>4.worked as a sr.devloper in y company</p>
                <p>5.worked as a teamlead at z company </p>
                <img src="img/3.png" width="400px"></center>
                
           
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div id="contact">
            <a name="contact"></a>
            <h3>Contact</h3>
            <p>Rakesh ganganapalli</p>
            <p>Email:rakesh123@gmail.com</p>
            <p>phone:123456789</p>
            <p>Address: rpg town, mainroad, pincode:123456</p>
        </div>

    
</body>
</html>