<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp form</title>
    <link rel="stylesheet" href="/css/registercss.css"   type="text/css" > 
</head>




<body>
    <form action="/api/user/login" method="POST" class="form">

        <div>
            <%if(error.length){%>

                <h3 style="color: red;"><%=error[0].msg%></h3>
        
            <%}%>
        </div>

        <div>
            <label for="">Email:</label>
            <input type="email" name="email" value="<%=email%>">
        </div>

        <div>
            <label for="">Password:</label>
            <input type="password" name="password">
        </div>

    <input type="submit" value="Login" class="submit">
    <p>Don't have a account <a href="/api/user/signup">SignUp</a></p>

    </form>

    



    
</body>
</html>